/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #111;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.navbar nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.navbar nav a:hover {
  color: #f4b400;
}

/* Sections */
.section {
  min-height: 100vh;
  padding: 120px 40px 60px;
  text-align: center;
  background: #222;
  color: white;
}

.section.light {
  background: #f5f5f5;
  color: #111;
}

/* Hero */
.hero {
  background: url("https://images.unsplash.com/photo-1503387762-592deb58ef4e")
    center/cover no-repeat;
}
.hero-grid {
  display: grid;
  justify-content: center;
  align-content: center;

  height: 720px;
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: #f4b400;
  font-size: 16px;
  cursor: pointer;
}

/* Services */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card {
  background: white;
  color: black;
  padding: 30px;
  width: 250px;
  border-radius: 8px;
  font-weight: bold;
}

/* Contact */
.contact-form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  font-size: 16px;
}

.contact-form button {
  padding: 12px;
  background: #f4b400;
  border: none;
  cursor: pointer;
}

/* Footer */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
}
